body{
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(13, 19, 24);
  display: grid;
  grid-template-columns: 1fr;
  height: 2000px;
  color: white;
}

a{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
}

a:hover{
  cursor: pointer;
  font-weight: bolder;
}

.main-body-container{
  margin-top: 65px;
  scroll-margin-top: 65px;
}

.hidden{
  opacity: 0;
  transform: translateX(-30%);
  margin-top: 400px;
  margin-bottom: 800px;
  transition: 1s;
  text-align: center;
  font-weight: bolder;
  font-size: 80px;
}

.show{
  opacity: 1;
  transform: translateX(0%);
}

.contact-container{
  text-align: center;
  margin-bottom: 70px;
  font-weight: bolder;
  font-size: 30px;
}

.project-word{
  text-align: center;
  font-weight: bolder;
  font-size: 38px;
  margin-bottom: 100px;
}

.summary-container{
  text-align: center;
  margin-bottom: 70px;
  font-weight: bolder;
  font-size: 30px;
  margin-top: -800px;
  margin-bottom: 400px;
}

.summary{
  padding-left: 10%;
  padding-right: 10%
}

.projects-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10%;
}

.project-title{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.project-description{
  font-size: 20px;
}

.my-image-container{
  text-align: center;
}

.chon{
  width:600px;
}